# CI on Windows via appveyor

environment:
  matrix:
    - PYTHON: "C:\\Python36-conda64"
      PYTHON_VERSION: "3.6"
      PYTHON_ARCH: "64"

install:
  # Install miniconda Python
  - "powershell ./ci/install_python.ps1"

  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\share\\mingwpy\\lib;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""
  - "conda config --set always_yes yes --set changeps1 no"
  - "conda update -q conda"
  - "conda info"
  - "conda -V"
  - "conda create -n condaenv python=%PYTHON_VERSION%"
  - "activate condaenv"
  - "conda config --add channels conda-forge"
  - "conda config --add channels msys2"
  - "conda config --add channels pycalphad"
  - "conda install 'pillow==4.0.0'"
  - "conda install 'constructor>=2.2.0'"

build_script:
  - "constructor -v --output-dir=. --platform=win-64 constructor"
  - "dir"

artifacts:
  path: 'ESPEI*.exe'
  name: constructorbuild

deploy:
  provider: S3
  access_key_id:
    secure: 4PjdILhPRHsuzqYYXK3FEKUcphGzoPaC8e40yr4Do3Y=
  secret_access_key:
    secure: YX0PeKHu8JN82Sb2GckZDFwy5EVZDWMp/NKGttO7yBYkuzvssmJNz2/g2mWr2DXU
  bucket: espei-deploy
  region: us-east-1
  unzip: false
  set_public: true
  folder: /
  artifact: constructorbuild
